:root {
  --cell-width: 10vw;
}
#box {
  display: none;
  width: 34vw;
  aspect-ratio: 1/1;
  /* display: grid; */
  grid-template-rows: repeat(3, 11vw);
  grid-template-columns: repeat(3, 11vw);
  border: 1px solid rgba(0, 0, 0, 0.406);
}

.cell {
  margin: 1vw;
  width: 10vw;
  aspect-ratio: 1/1;
  cursor: pointer;
}
